#textTitle {
  font-size: 16px;
}
.textItalic{
  font-style: italic;
}
#textTitleBoldCenter {
  font-size: 16px;
  text-align: center;
}


#TXTgras {font-weight: bold;}

.TXTitalic {font-style: italic;}

.textRed {color: red;}

.textGreen {color:green;}

#TXTcentre {text-align: center;
  font-weight: bold;
}

.NewPolice {font-family: Arial}

.FondBleu {background-color: blue}

.IMGfond {background-image: url("https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_92x30dp.png")}

.MargeLeft {margin-left: 10px}

.FdBleuMarge {background-color: blue;
  margin: 10px;
}
